.scroll-to-top {
  /* background-color: #1c034f ; */
  background-image: url("../../../public/images/pattern1.webp");
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3.6rem;
  right: 4rem;
  color: white;
  border-radius: 10px;
  z-index: 888;
  cursor: pointer;
  padding: 3px;
  border: 1px solid rgb(111, 111, 111);
  /* border: 2px black solid; */
}

.scroll-to-top .top-btn-icon {
  animation: mymove 1.2s linear infinite alternate-reverse;
  position: relative;
  /* font-size: 1.8rem; */
}

@keyframes mymove {
  0% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0.8rem);
  }
}


@media screen and (max-width: 480px) {

  .scroll-to-top{
    bottom: 5rem;
  }
}