.navbar {
  position: fixed;
  top: 88%;
  left: 32%;
  align-self: center;
  background-size: cover;
  width: 35%;
  height: 42px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 33;
  border-radius: 20px;
  border: 1px solid rgb(111, 111, 111);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(1.62px);
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 98%;
  height: 85%;
  border-radius: 15px;
  backdrop-filter: blur(1.62px);
  background-color: black;
  /* background-image: url("../../../public/images/pattern1.webp"); */
  margin: 0 5px;
  background-size: cover;
 
}

.navbar nav a {
  text-decoration: none;
  height: 85%;
  width: 30%;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 2.1rem;
  transition: all 0.5s;
}

.navbar nav a:hover {
  /* background: linear-gradient(90deg, #cc0a00, #d42904, #db3b0a, #e24b11, #ea5918, #f16720, #f87328, #ff8030); */
  background-color: #ffff;
  color: rgb(0, 0, 0);
  border: 1px #fff solid;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 13px;
}

.navbar nav li a {
  font-size: 2rem;
  font-weight: 450;
}

 .active {
  border-radius: 20px;
  padding: 10px 25px;
  color: white;
  background-color: orangered;
}

@media screen and (max-width: 480px) {
  .navbar {
    top: 85%;
    width: 90%;
  }

  .navbar nav {
    width: 70%;
    margin: 4px;
   
  }
}

@media screen and (max-width: 807px) {
  .navbar {
    width: 70%;
    left: 15%;
  }

  .navbar nav {
    width: 97.5%;
  
  }
}
