/* @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Space+Grotesk:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=DM+Serif+Display:ital@0;1&family=Space+Grotesk:wght@300;400;700&display=swap"); */

.intro {
  display: flex;
  height: 100vh;
  /* scroll-snap-align: start; */
  position: relative;
  /* background: linear-gradient(90deg,toBottom #cc0a00, #d42904, #db3b0a, #e24b11, #ea5918, #f16720, #f87328, #ff8030); */
}

.intro-left {
  flex: 1;
  color: #000000;
  z-index: 2;
}


.intro-left-wrapper {
  padding:100px 70px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.Logo {
  position: absolute;
  top: 20px;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 500;
  z-index: 3;
}


.Logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
  z-index: 2;
}

.introName {
  font-size: 8rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bolder;
  max-width: 100%;
  font-family: "ClashGrotesk";
  src: url("../../styles/fonts/ClashGrotesk-Variable.woff2") format("woff2");
}

.intro-hi {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: lighter;
  font-weight: bold;
  color: #111111;
}

.intro-desc {
  font-size: 2.3rem;
  font-weight: lighter;
  border-radius: 20px;
  color: #616161;
}

.fav-food {
  font-size: 2.3rem;
  font-weight: lighter;
  margin-top: 5px;
  font-weight: 360;
  color: #000000;
}

.helloThere {
  z-index: -1;
  font-size: 15rem;
  font-weight: bolder;
  color: #bfbfbf1f;
  position: absolute;
  left: -15px;
  top: 45px;
}

.flatButton {
  width: 220px;
  height: 50px;
  margin-top: 22px;
  cursor: pointer;
  position: relative;
  background-color: #000000;
  /* border: 3px var(--main-color) solid; */
  border-radius: 10px;
  font-size: 1.9rem;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: whitesmoke;
  z-index: 4;
}

.flatButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  /* background: linear-gradient(90deg, #cc0a00, #d42904, #db3b0a, #e24b11, #ea5918, #f16720, #f87328, #ff8030); */
  color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: -1;
}

.flatButton:hover:before {
  height: 100%;
  z-index: -1;
  color: #000000;
  z-index: -3;
}

.arrowDown {
  /* left: 100px; */
  font-weight: lighter;
  /* rotate: -260deg; */
  animation: mymove 1.2s linear infinite alternate-reverse;
 
}

.scrollDown {
  position: absolute;
  top: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.scrollDown p {
  writing-mode: vertical-lr;
  font-size: 2rem;
  margin-bottom: 10px;
}

.star {
  position: absolute;
  top: 03%;
  left: 73%;
}

.twolines {
  position: absolute;
  top: 73%;
  left: 60%;
}

.triangle {
  position: absolute;
  right: 20%;
  width: 30px;
  height: 40px;
}

@keyframes mymove {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.8rem);
  }
}

/* TEXT REVEAL */

/* .textReveal{
    transition: all 1.5s;
    
} */

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.flat-button1 {
  width: 62%;
  height: 5px;
  background-image: url("../../../public/images/pattern4.jpg");
  background-size: cover;
  color: #ffffff;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  border-radius: 110px;
  position: absolute;
  top: 220px;
  display: none;
}

.flat-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.scroll {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 30px;
  font-size: 5.3rem;
}

.intro-title {
  height: 50px;
  overflow: hidden;
  font-size: 22px;
  font-weight: 300;
}

.intro-title-item {
  height: 50px;
  font-size: 4rem;
  /* color: var(--main-color); */
  display: flex;
  align-items: center;
}

.intro-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.intro-right {
  flex: 1;
  position: relative;
  overflow: hidden;
  padding-right: 30px;
}

.intro-right .me {

  position: relative;
  top: -117px;
  height: 700px;
  width: 700px;
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  animation-name: breathing;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* rotate: -300deg; */
}

@keyframes breathing {
  0% {
    /* transform: translateX(5px); */
    transform: scale(0.981);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.981);
  }
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    height: 100vh;
  }
  .intro-left {
    /* flex: 1; */
    height: 100vh;
  }
  .scrollDown {
    top: 65vh;
  }

  .helloThere {
    z-index: -1;
    font-size: 6rem;
    font-weight: bolder;
    color: #a8a8a816;
    position: absolute;
    left: -10px;
    top: 45px;
  }


  .intro-left-wrapper {
    margin-top: 50px;
    padding: 30px;
    height: 100%;
  }

  .pattern1 {
    left: 150px;
    width: 70%;
    height: 30px;
  }

  .intro-title-item {
    font-size: 3.5rem;
  }

  .flat-button1 {
    width: 70%;
    height: 60px;
    background-image: url("../../../public/images/pattern4.jpg");
    background-size: cover;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 110px;
    position: absolute;
    bottom: 6rem;
    display: none;
  }

  .intro-hi {
    font-size: 2.6rem;
  }

  .introName {
    font-size: 6rem;
  }

  .intro-right {
    flex: 1.3;
    position: relative;
    /* visibility: hidden; */
    display: none;
  }

  .intro-right .me {
    height: 450px;
    width: 450px;
    position: absolute;
    top: -50px;
    left: -25px;
    object-fit: cover;
    overflow: hidden;
    /* display: none; */
  }

}


@media screen and (max-width: 1118px){

  .intro{
    flex-direction: column;
    flex: 1;
  }

  .intro-right img {
    top: 0px;
    left: 0px;
    height: 490px;
    width: 490px;
  }

  .intro-right{
    flex: 1;
  }

}


@media screen and (max-width: 768px) {

  .intro {
    flex-direction: column;
    height: 100vh;
  }

  .intro-left {
    flex: 1.5;
  }

  .Logo {
    top: -30px;
  }

  .intro-left-wrapper {
    margin-top: 50px;
    padding: 30px;
    height: 100%;
  }

  .pattern1 {
    top: 5px;
    left: 140px;
    width: 40%;
    height: 40px;
  }

  .flat-button1 {
    width: 70%;
    height: 60px;
    background-image: url("../../../public/images/pattern4.jpg");
    background-size: cover;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 110px;
    position: absolute;
    bottom: 6rem;
    display: none;
  }

  .intro-hi {
    font-size: 2rem;
    /* display: none; */
  }

  .introName {
    font-size: 6rem;
  }

  .intro-right img {
    position: relative;
    top: -100px;
    width: 500px;
    height: 500px;
  }
}

/* Section Fade in Animation */

.animateSection {
  animation: ease-in-out;
  animation-direction: normal;
  animation-duration: 0.7s;
  animation-name: animate-section;
}

@keyframes animate-section {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}